//
// Mixins & Variables
//

// Font Size & Line Height

$fontSize-base: 1rem; // 16px if base 16
$fontSize-6: 1.25rem; // 20px if base 16
$lineHeight-base: 1rem; // 16px if base 16
$lineHeight-5: 1.25rem; // 20px if base 16
$lineHeight-6: 1.125rem; // 18px if base 16

@mixin sizeHeight-base {
  font-size: 1rem; // 16px if base 16
  line-height: 1.5rem; // 24px if base 16
}
@mixin sizeHeight-1 {
  font-size: 1.875rem; // 30px if base 16
  line-height: 3rem; // 48px if base 16
}
@mixin sizeHeight-2 {
  font-size: 1.75rem; // 28px if base 16
  line-height: 2.75rem; // 44px if base 16
}
@mixin sizeHeight-3 {
  font-size: 1.3125rem; // 21px if base 16
  line-height: 2.1875rem; // 35px if base 16
}
@mixin sizeHeight-5 {
  font-size: 1rem; // 16px if base 16
  line-height: 1.125rem; // 18 px if base 16
}
@mixin sizeHeight-6 {
  font-size: .875rem; // 14px if base 16
  line-height: 1.25rem; // 20 px if base 16
}

// Colors

$smashing: #d33a2c; // smashing red
$rachael: #b30000;

$base: #fff;
$primary: $smashing;
$primaryLight: lighten($primary, 45%);
$secondary: #bc3428;
$text: #202124; // dark
$text1: #37474f; // darker
$text2: rgba(0, 0, 0, 0.65); // light
$text3: #f5f5f5; // lighter
$gray: #ececec;
$gray2: #f1f3f4; // light

//
// Font Family
//

// do not override 'a' anchors: page anchor icons use own styles
body,
h1,h2,h3,h4,h5,h6,p,
div,span,li,
.navbar-light {
  // reactjs.org
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,
  Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
}

//
// Base Size, Height, Color
//

html,
body {
  color: $text;
  background-color: $base;
  text-align: left;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  // Firebase size/height = 16px / 24px
  // React size/height = 17px / 29px
  font-size: 17px;
  line-height: 29px !important;
}
h1,h2,h3,h4,h5,h6 {
  color: $text;
}
pre, code {
  @include sizeHeight-6;
  color: $text1;
  background: $gray2;
  font-weight: 500;
  padding: 1px 4px;
}

//
// Anchors
//

a {
  color: $primary;
  text-decoration: none;
  transition: none !important;
  &:hover,
  &:focus {
    color: $text;
  }
}
.dark a {
  &:hover,
  &:focus {
    color: $primaryLight;
  }
}
// page anchor icons
.anchorjs-link { 
  color: $text;
  &:hover {
    color: $text;
  }
}

//
// Main Menu
//

// Mobile only
@media (max-width: 991.98px) {
  //
  // Toggle Mobile Menu
  //
  .navbar-collapse {
    background-color: $text3;
    .show {
      background-color: $text3;
    }
  }

  .navbar-light .navbar-toggler {
    color: $text3;
  }

  .docs-toggle {
    color: $text;
    background: $base !important;
    &.btn {
      background: $text3;
    }
  }

  //
  // Logo
  // Include overrides so logo does not interfere w/ search & theme icons on mobile
  .navbar .nav-icons.ml-auto {
    margin-left: unset !important;
  }
  .navbar-brand-mobile-wrapper {
    left: unset;
    max-width: 280px;
    width: 65%;
  }
  .navbar-brand-mobile-wrapper {
    position: unset;
    left: unset;
    right: unset;
  }
  .navbar-brand img {
    max-width: 100%;
    height: 26px;
  }

  //
  // 'docs' Table of contents for 'docs' content type
  //
  .toc-title {
    padding-left: 12px;
  }

} // End 'Mobile Only'

// Container
.navbar .container {
  max-width: 100%; // forces logo and nav full screen width
}
// menu background
#navbar-main {
  background: $primary;
}
.dark #navbar-main {
  background: #231F20;
  box-shadow: none;
}
// Mobile menu
#navbar-main .main-menu-item ul li .nav-link {
  color: $text2;
  &.active {
    color: $primary !important;
  }
  &:hover {
    color: $text2;
  }
}
// Navbar height (requires body margin)
body { 
  margin-top: 60px; 
}
.navbar { 
  height: 60px; 
}
// Logo/brand: TEXT ONLY
.navbar-light .navbar-brand {
  color: $text3;
  &:hover {
    color: $text3;
  }
}
// Logo/brand: Image
.navbar-brand img {
  height: 26px;
}
// menu links
.navbar .navbar-nav .nav-link {
  font-size: $fontSize-6;
  font-weight: 300 !important;
  &.active {
    font-weight: 300 !important;
    color: $text;
  }
  &:hover {
    color: $text;
  }
  &:focus {
    color: $text;
  }
}
// Dark theme
.dark .navbar .navbar-nav .nav-link {
  &.active {
    color: $primaryLight;
  }
  &:hover {
    color: $primary;
  }
  &:focus {
    color: $primary;
  }
  transition: none;
}

@media (min-width: 991.98px) {
  // targeted need: theme selector dropdown
  .i18n-dropdown .dropdown-menu,
  .theme-dropdown .dropdown-menu {
    position: absolute !important;
    right: 0 !important;
    left: auto !important;
  }
}

// larger screen
@media (min-width: 992px) {
  #navbar-main .main-menu-item ul li .nav-link {
    color: $text3;
    &.active {
      color: $text3 !important;
    }
    &:hover {
      color: $text3;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .bottom-highlight {
    position: absolute;
    bottom: -7px;
    height: 4px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: $text3;
  }

}
// Menu icons -targets icons b/c class is less specific than menu nav links
.navbar .navbar-nav .nav-link {
  color: $text3;
}
// Menu icons
.navbar .dropdown-item.active, .navbar .dropdown-item-active {
  font-weight: bold;
  color: $primary !important;
}
// Menu icons -override 'blue' that showed when theme light/dark selector hover
.navbar-light .navbar-nav .show > .nav-link {
  color: $text;
}
.dark .navbar-light .navbar-nav .show > .nav-link {
  color: $primary;
}

//
// Button
//

 .btn {
  border: none;
  border-radius: 0;
  background: $primary;
  transition: none;
}
.btn-xlarge {
  padding: 1.7rem 1.3rem;
  font-size: $fontSize-6;
  &:hover {
    background: $secondary;
  }
}

//
// Article Titles
//

h3.article-title a:hover {
  color: $primary;
  text-decoration: none;
  transition: color 0.6s ease;
}

//
// Docs
//

@mixin nav-hover($bgcolor) {
  text-decoration: none !important;
  background-color: $bgcolor !important;
  border-radius: 0 12px 12px 0 !important;
  margin-right: 1rem !important;
}
// Search: appears in mobile nav toggle table of contents and standard layout
.docs-search {
  border-bottom: none;
  input {
    display: none;
  }
}

//
// Sidebar Docs
// Nav 'item' -first item style separate b/c the only one where .active js class works
.docs-sidebar .docs-toc-item {
  &.active {
    margin-bottom: 0; // only works on the first docs-toc-item so disable for all
  }
  &.active a {
    color: $primary;
    @include nav-hover($primaryLight);
    &:hover {
      @include nav-hover($primaryLight);
    }
  }
}
// Nav 'link' -Section title link
.docs-sidebar .docs-toc-link {
  @include sizeHeight-base;
  padding: 4px 16px;
  &:hover {
    color: $text2;
    @include nav-hover($gray2);
  }
}
// Nav Links: Hover
.docs-sidebar .nav > .active:hover > a {
  font-weight: 500;
  color: $primary;
  @include nav-hover($gray2);
}
// Nav Links: Hover
.docs-sidebar .nav > .active > a {
  font-weight: 500;
  color: $primary;
  @include nav-hover($primaryLight);
  &:hover {
    @include nav-hover($primaryLight);
  }
}
// secondary links
.docs-sidebar .nav > li > a {
  @include sizeHeight-5;
  font-weight: 400;
  padding: 4px 32px;
  color: $text;
  &:hover {
    color: $text !important;
    text-decoration: none;
    background-color: transparent;
    @include nav-hover($gray2);
  }
}
.docs-sidebar .nav > li.active > a {
  font-weight: 500;
}
// Docs Table of contents
.nav.toc-top {
  border-left: 4px solid $primary;
  a:hover {
    color: $primary;
  }
}
#TableOfContents {
  li a {
    line-height: $lineHeight-5;
  }
  li a.active {
    color: $primary;
    font-weight: 700;
  }
  li a:hover,
  .toc-top li a:hover {
    color: $primary;
    text-decoration: none;
  }
  // border
  border-left: 4px solid $primary;
}

//
// Font Awesome
//

.featurette-icon {
  color: $primary;
}

//
// Homepage
//

 .home-section {
  padding: 0;
  margin: 40px 0 45px 0;
  &:nth-of-type(even) {
    background-color: $base;
  }
}

.wg-border-bottom {
  padding-top: 50px;
  border-bottom: 1px solid $gray !important;
}

//
// Hero Widget
//

.wg-hero-center {
  .hero-media {
    max-width: 320px;
    margin-bottom: 22px;
  }
  h1,h2,h3,h4,h5,h6,p,div,pre,code, .cta-btns {
    text-align: center;
  }
  .hero-title {
    font-weight: 700;
  }
  .hero-title-1 {
    @include sizeHeight-2;
    margin: 10px 0;
  }
  .hero-title-2 {
    @include sizeHeight-3;
  }
  .hero-text {
    @include sizeHeight-5;
  }
  p {
    margin-bottom: .75rem;
  }
  .cta-btns {
    margin-top: 1.25rem;
  }
  @media (min-width: 991.98px) {
    .hero-media {
      max-width: 400px;
    }
    .hero-title-1 {
      @include sizeHeight-1;
      margin: 10px 0;
    }
    .hero-title-2 {
      @include sizeHeight-2;
    }
    .hero-text {
      @include sizeHeight-3;
    }
  }
}

//
// Featurette Widget
//

 .wg-featurette {
  .align-left {
    text-align: left;
  }
}
.featurette {
  font-size: $fontSize-base;
  color: $text;
  h3 {
    margin-bottom: 1.25rem;
  }
}

//
// Disable Transition, Transform, Animation
// https://onezeronull.com/2016/10/06/disable-css-transitions-and-animations-temporarily-or-permanently/#permanent-solution
//

/* transform required for search overlay
* {
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
*/

// Mobile menu: 'scrolls' down the menu via transition so do not disable
/*
 * {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
}
*/

// Prevent delay in rendering page content - disable all animation
// Does not prevent search overlay from working
* {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
