//
// Mixins & Variables
//
$navbarHeight: 60px;

// Font Size & Line Height
$fontSize-base: 1rem; // 16px if base 16
$fontSize-1: 1.875rem; // 30px if base 16
$fontSize-2: 1.6rem; // 28px if base 16
$fontSize-3: 1.3125rem; // 21px if base 16
$fontSize-4: 1.25rem; // 20px if base 16
$fontSize-5: 1rem; // 16px if base 16
$fontSize-6: .8825rem; // 14px if base 16

@mixin sizeHeight-base {
  font-size: $fontSize-base; // 16px if base 16
  line-height: 1.5rem; // 24px if base 16
}
@mixin sizeHeight-1 {
  font-size: $fontSize-1; // 30px if base 16
  line-height: 3rem; // 48px if base 16
}
@mixin sizeHeight-2 {
  font-size: $fontSize-2; // 28px if base 16
  line-height: 2.75rem; // 44px if base 16
}
@mixin sizeHeight-3 {
  font-size: $fontSize-3; // 21px if base 16
  line-height: 2.1875rem; // 35px if base 16
}
@mixin sizeHeight-4 {
  font-size: $fontSize-4; // 20px if base 16
  line-height: 2.075rem; // 33 px if base 16
}
@mixin sizeHeight-5 {
  font-size: $fontSize-5; // 16px if base 16
  line-height: 1.125rem; // 18 px if base 16
}
@mixin sizeHeight-6 {
  font-size: $fontSize-6; // 14px if base 16
  line-height: 1.25rem; // 20 px if base 16
}

// Colors
$base: #fff;
$primary: #d33a2c; // <-- smashing // rachael #b30000
$primary2: lighten($primary, 5%);
$primary3: lighten($primary, 45%);
$secondary: #3b78e7;
$text: #202124; // dark
$text1: #37474f; // darker
$text2: rgba(0, 0, 0, 0.65); // light
$text3: #f5f5f5; // lighter
$gray: #ececec;
$gray2: #f1f3f4; // light

//
// Font Family
//

// do not override 'a' anchors: page anchor icons use own styles
body,
h1,h2,h3,h4,h5,h6,p,
div,span,li,
.navbar-light {
  // reactjs.org
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,
  Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif !important;
}

//
// Base Size, Height, Color
//

html,
body {
  color: $text;
  background-color: $base;
  text-align: left;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  // Firebase size/height = 16px / 24px
  // React size/height = 17px / 29px
  font-size: 17px;
  line-height: 29px !important;
 
}
h1,h2,h3,h4,h5,h6 {
  color: $text;
}
h1 { @include sizeHeight-1; }
h2 { @include sizeHeight-2; }
h3 { @include sizeHeight-3; }
h4 { @include sizeHeight-4; }
h5 { @include sizeHeight-5; }
h6 { @include sizeHeight-6; }

pre, code {
  @include sizeHeight-6;
  color: #37474f;
  background: #f1f3f4;
  font-weight: 500;
}
pre {
  background: none;
  border-radius: 10px;
  margin: 2rem 0;
  code {
    padding: 1rem 2rem !important;
  }
}
code {
  padding: 1px 4px;
  font-weight: 400 !important;
  span {
    font-family: "Roboto Mono", monospace !important;
    font-weight: 400 !important;
  }
}


//
// Anchors
//

a {
  color: $primary;
  text-decoration: none;
  transition: none !important;
  &:hover,
  &:focus {
    color: $text;
  }
}
// page anchor icons
.anchorjs-link { 
  color: $text;
  &:hover {
    color: $text;
  }
}


//
// Main Menu
//
.navbar {
  box-shadow: none;
}

// Mobile only
@media (max-width: 991.98px) {
  //
  // Toggle Mobile Menu
  //
  .navbar-collapse {
    background-color: $primary;
    &.show {
      background-color: $primary;
      padding-bottom: 1rem;
    }
  }

  .navbar-light .navbar-toggler {
    color: $text3;
  }

  .docs-toggle {
    color: $text;
    background: $base !important;
    &.btn {
      background: $text3;
    }
    .fa-bars,
    .toc-title {
      font-size: $fontSize-base;
    }
  }

  //
  // Logo
  // Include overrides so logo does not interfere w/ search & theme icons on mobile
  .navbar .nav-icons.ml-auto {
    margin-left: unset !important;
  }
  .navbar-brand-mobile-wrapper {
    left: unset;
    max-width: 280px;
    width: 65%;
  }
  .navbar-brand-mobile-wrapper {
    position: unset;
    left: unset;
    right: unset;
  }
  .navbar-brand img {
    max-width: 100%;
    height: 26px;
  }

  //
  // 'docs' Table of contents for 'docs' content type
  //
  .toc-title {
    padding-left: 12px;
  }

} // End 'Mobile Only'

// Container
.navbar .container {
  max-width: 100%; // forces logo and nav full screen width
}
// menu background
#navbar-main {
  background: $primary;
}
// Mobile menu
#navbar-main .main-menu-item ul li .nav-link {
  color: $base;
  &.active {
    color: $base !important;
  }
  &:hover {
    color: $text2;
  }
}
// Navbar height (requires body margin)

body { 
  margin-top: $navbarHeight;
}
.navbar { 
  height: $navbarHeight;
}
// Logo/brand: TEXT ONLY
.navbar-light .navbar-brand {
  color: $text3;
  &:hover {
    color: $text3;
  }
}
// Logo/brand: Image
.navbar-brand img {
  height: 26px;
}
// menu links
.navbar .navbar-nav .nav-link {
  font-size: $fontSize-4;
  font-weight: 300 !important;
  &.active {
    font-weight: 300 !important;
    color: $text;
  }
  &:hover {
    color: $text;
  }
  &:focus {
    color: $text;
  }
}

@media (min-width: 991.98px) {
  // targeted need: theme selector dropdown
  .i18n-dropdown .dropdown-menu,
  .theme-dropdown .dropdown-menu {
    position: absolute !important;
    right: 0 !important;
    left: auto !important;
  }
}

// larger screen
@media (min-width: 992px) {
  #navbar-main .main-menu-item ul li .nav-link {
    color: $text3;
    &.active {
      color: $text3 !important;
    }
    &:hover {
      color: $text3;
    }
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar .nav-link {
    &.active .bottom-highlight,
    &:hover .bottom-highlight {
      position: absolute;
      bottom: -8px;
      height: 4px;
      left: 0px;
      right: 0px;
      z-index: 1;
      background: $text3;
    }
  }
}
// Menu icons -targets icons b/c class is less specific than menu nav links
.navbar .navbar-nav .nav-link {
  color: $text3;
}
// Menu icons
.navbar .dropdown-item.active, .navbar .dropdown-item-active {
  font-weight: bold;
  color: $primary !important;
}
// Menu icons -override 'blue' that showed when theme light/dark selector hover
.navbar-light .navbar-nav .show > .nav-link {
  color: $text;
}

//
// Nav No Menu Links
// 
.navbar.no-menu-links {
  .navbar-brand-mobile-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    width: 100%;
  }
  .d-lg-inline-flex.justify-content-center {
    width: 100%;
    a {
      margin: 0 auto;
    }
  }
}


//
// Button
//

 .btn {
  border: none;
  border-radius: 0;
  background: $primary;
  transition: none;
}
.btn-xlarge {
  padding: 1.7rem 1.3rem;
  font-size: $fontSize-4;
  &:hover {
    background: $primary2;
  }
}

//
// Article Titles
//

h3.article-title a:hover {
  color: $primary;
  text-decoration: none;
  transition: color 0.6s ease;
}

//
// Docs
//
.docs-toc {
  margin-right: auto; // due to being flexbox child -> grow margin
  top: $navbarHeight;
  height: calc(100vh - 60px); // calc will not take var $navbarHeight
}
body {
  &[data-target="#TableOfContents"] {
    @media (min-width: 768px) {
      background: $gray;
    }
  }
}

@mixin nav-hover($bgcolor) {
  text-decoration: none !important;
  background-color: $bgcolor !important;
  border-radius: 0 12px 12px 0 !important;
  margin-right: 1rem !important;
}
// Search: appears in mobile nav toggle table of contents and standard layout
.docs-search {
  border-bottom: none;
  input {
    display: none;
  }
}

//
// Docs: Sidebar
//
.docs-sidebar {
  flex-shrink: 0;
  background: $base;
  border-bottom: 0;
  border-right: 0 !important;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
  @media (min-width: 768px) {
    .docs-search { 
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    height: calc(100vh - 60px); // calc will not take var $navbarHeight
  }
}

// Nav 'item/section' -first item style separate b/c the only one where .active js class works
.docs-sidebar .docs-toc-item {
  border-bottom: 1px solid $gray;
  padding: .25rem 0;
  &.active {
    margin-bottom: 0; // only works on the first docs-toc-item so disable for all
  }
  &.active a {
    color: $primary;
    &:hover {
      @include nav-hover($primary3);
    }
  }
}
// Nav 'item/section' hide bottom border last child if dropdown shows
.docs-sidebar .docs-links {
  &.show .docs-toc-item:last-child {
    border-bottom: none !important;
    padding-bottom: 0;
  }
}
// Nav 'link' -Section title link
.docs-sidebar .docs-toc-link {
  @include sizeHeight-base;
  padding: 4px 16px;
  &:hover {
    color: $text2;
    @include nav-hover($gray2);
  }
}
// Nav Links: Hover
.docs-sidebar .nav > .active:hover > a {
  font-weight: 500;
  color: $primary;
  @include nav-hover($gray2);
}
// Nav Links: Hover
.docs-sidebar .nav > .active > a {
  font-weight: 500;
  color: $primary;
  @include nav-hover($primary3);
  &:hover {
    @include nav-hover($primary3);
  }
}
// secondary links
.docs-sidebar .nav > li > a {
  @include sizeHeight-6;
  font-weight: 400;
  padding: 4px 32px;
  color: $text;
  &:hover {
    color: $text !important;
    text-decoration: none;
    background-color: transparent;
    @include nav-hover($gray2);
  }
}
.docs-sidebar .nav > li.active > a {
  font-weight: 500;
}
@media (min-width: 1200px) {
  // Navbar height adjustment requires docs-sidebar top adjustment
  .docs-sidebar {
    top: $navbarHeight;
  }
}
// Docs Table of contents
.nav.toc-top {
  border-left: 4px solid $primary;
  a {
    @include sizeHeight-6;
    padding-bottom: .5rem;
  }
  a:hover {
    color: $primary;
  }
}
#TableOfContents {
  li a {
    color: $text2;
    @include sizeHeight-6;
  }
  li a.active {
    color: $primary;
    font-weight: 700;
  }
  li a:hover,
  .toc-top li a:hover {
    color: $primary;
    text-decoration: none;
  }
  // border
  border-left: 4px solid $primary;
}
.toc-top li a {
  color: rgba(0,0,0,.65);
}

//
// Docs: Content
//
.docs-content {
  margin-left: auto; // due to being flexbox child -> grow margin
  flex: unset !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  article {
    background: white;
  }
  @media (min-width: 768px) {
    article {
      padding: .25rem 2rem;
      -webkit-box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
      border-radius: 2px;
    }
  }
  @media (min-width: 1200px) {
    &.col-xl-8 {
      flex: 0 0 936px;
      max-width: 936px;
    }
  }
  //
  // Docs Main Content/Article "On this page"
  //
  .docs-article-container {
    max-width: unset;
    .docs-toc {
      height: unset;
      position: unset;
      padding-left: 3px;
      @media (min-width: 1200px) {
        display: none !important;
      }
    }
    // Previous/next doc anchor
    .post-nav {
      display: flex;
    }
    // code blocks pull to outter article background edge
    pre {
      margin-left: -2rem;
      margin-right: -2rem;
      border-radius: 0px;
    }
  }
}

//
// Font Awesome
//

.featurette-icon {
  color: $primary;
}

//
// Homepage
//

 .home-section {
  padding: 0;
  margin: 40px 0 45px 0;
  &:nth-of-type(even) {
    background-color: $base;
  }
}

.wg-border-bottom {
  padding-top: 50px;
  border-bottom: 1px solid $gray !important;
}

//
// Hero Widget
//

.wg-hero-center {
  .hero-media {
    max-width: 320px;
    margin-bottom: 22px;
  }
  h1,h2,h3,h4,h5,h6,p,div,pre,code, .cta-btns {
    text-align: center;
  }
  .hero-title {
    font-weight: 700;
  }
  .hero-title-1 {
    @include sizeHeight-2;
    margin: 10px 0;
  }
  .hero-title-2 {
    @include sizeHeight-3;
  }
  .hero-text {
    @include sizeHeight-5;
  }
  p {
    margin-bottom: .75rem;
  }
  .cta-btns {
    margin-top: 1.25rem;
  }
  @media (min-width: 991.98px) {
    .hero-media {
      max-width: 400px;
    }
    .hero-title-1 {
      @include sizeHeight-1;
      margin: 10px 0;
    }
    .hero-title-2 {
      @include sizeHeight-2;
    }
    .hero-text {
      @include sizeHeight-3;
    }
  }
}

//
// Featurette Widget
//

 .wg-featurette {
  .align-left {
    text-align: left;
  }
}
.featurette {
  font-size: $fontSize-base;
  color: $text;
  h3 {
    margin-bottom: 1.25rem;
  }
}

//
// Highlightjs
//
code, pre, .hljs {
  font-size: 14px;
  line-height: 20px;
}
.hljs {
  background: #f1f3f4;
}
.hljs-keyword {
  color: $secondary;
  font-weight: normal;
}
.hljs-title,
.hljs-string,
.hljs-params {
  color: #37474f;
  font-weight: normal;
}
.hljs-comment,
.hljs-number,
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag
.hljs-attr {
  font-weight: normal;
  font-style: normal;
  color: $primary;  // firebase #d81b60;
}


//
// Disable Transition, Transform, Animation
// https://onezeronull.com/2016/10/06/disable-css-transitions-and-animations-temporarily-or-permanently/#permanent-solution
//

/* transform required for search overlay
* {
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
}
*/

// Mobile menu: 'scrolls' down the menu via transition so do not disable
/*
 * {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
}
*/

// Prevent delay in rendering page content - disable all animation
// Does not prevent search overlay from working
* {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
/*
@media (min-width: 768px) {
  html *,
  .py-md-3  {
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    top: 0 !important;
  }
}
*/