<div class="form-wrapper">
  <h2 class="js-success-form contact" style="display: none;">Message Received!</h2>
  <h2 class="js-progress-form contact" style="display: none;">Processing...</h2>
  <h2 class="js-error-form contact" style="display: none;">Error: Apologies, something went wrong. Please try again.</h2>
  <form id="contact" class=" forms" name="contact" method="POST">
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Name <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="text" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="name" value="" type="text" class=" form-text form-item" placeholder="Your name*" autocomplete="on" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Phone <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="text" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="phone" value="" type="text" class=" form-text form-item" placeholder="Your phone numbere*" autocomplete="on" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Email <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="email" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="email" value="" type="email" class=" form-email form-item" placeholder="Your email address*" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Message <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="textarea" data-grav-disabled="true" data-grav-default="null">
          <div class="form-textarea-wrapper ">
              <textarea name="message" class=" form-textarea" placeholder="Your message*" required="required"></textarea>
          </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button g-recaptcha form-submit" data-sitekey="6LfYP2EUAAAAABZDtmr6G-Y4adAa5tAcW3dFWLE7" data-callback="onSubmit" type="submit">Submit</button>
    </div>
    <!-- Hidden *********************************** -->
    <input type="hidden" name="actionUrl" value="https://us-central1-loveyou-forms.cloudfunctions.net/formHandler" />
<!--    <input type="hidden" name="actionUrl" value="https://us-central1-loveyou-forms.cloudfunctions.net/formHandler" /> -->
    <input type="hidden" name="urlRedirect" value="false" />
    <!-- START: google recaptch, not implemented -->
    <input type="hidden" name="__unique_form_id__" value="uGzCUH4i736nVE2Llagx"><input type="hidden" name="form-nonce" value="4b7729d1b665f20936568384d0238fb0">
    <!-- END: google recaptch, not implemented -->
    <input type="hidden" name="app" value="AJAXMGCXSg6fbLgteaWDLnTwL2EC3Kj7y4kDWqGU4Vzcq8UQKAzfZvJ4xkjTv8GjXKvdEs6BHGjU" />
    <!--  <input type="hidden" name="app" value="ASHFORDQadbLqQPE9Tpe4eKK8MHuB3K2EMKFE2mbhEU9yBVUBgwh7nV8J4BR5STXhQfNdYW2qZrWvt" /> -->
    <input type="hidden" name="template" value="contactDefault" />
    <input type="hidden" name="webformId" value="contact1" />
  </form>
  <h2 class="js-error-form contact" style="display: none;">Error: Apologies, something went wrong. Please try again.</h2>
  <h2 class="js-progress-form contact" style="display: none;">Processing...</h2>
  <h2 class="js-success-form contact" style="display: none;">Message Received!</h2>
</div>
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
<div class="form-wrapper">
  <h2 class="js-success-form contact" style="display: none;">Message Received!</h2>
  <h2 class="js-progress-form contact" style="display: none;">Processing...</h2>
  <h2 class="js-error-form contact" style="display: none;">Error: Apologies, something went wrong. Please try again.</h2>
  <form id="contactToo" class=" forms" name="contact" method="POST">
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Name <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="text" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="name" value="" type="text" class=" form-text form-item" placeholder="Your name*" autocomplete="on" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Phone <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="text" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="phone" value="" type="text" class=" form-text form-item" placeholder="Your phone numbere*" autocomplete="on" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Email <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="email" data-grav-disabled="true" data-grav-default="null">
          <div class="form-input-wrapper ">
              <input name="email" value="" type="email" class=" form-email form-item" placeholder="Your email address*" required="required">
          </div>
        </div>
    </div>
    <div class="form-field ">
        <div class="form-label "><label class="inline"> Message <span class="required">*</span></label></div>
        <div class="form-data " data-grav-field="textarea" data-grav-disabled="true" data-grav-default="null">
          <div class="form-textarea-wrapper ">
              <textarea name="message" class=" form-textarea" placeholder="Your message*" required="required"></textarea>
          </div>
        </div>
    </div>
    <div class="buttons">
        <button class="button g-recaptcha form-submit" data-sitekey="6LfYP2EUAAAAABZDtmr6G-Y4adAa5tAcW3dFWLE7" data-callback="onSubmit" type="submit">Submit</button>
    </div>
    <!-- Hidden *********************************** -->
    <input type="hidden" name="actionUrl" value="https://us-central1-loveyou-forms.cloudfunctions.net/formHandler" />
    <input type="hidden" name="redirectUrl" value="/about" />
    <!-- START: google recaptch, not implemented -->
    <input type="hidden" name="__unique_form_id__" value="uGzCUH4i736nVE2Llagx"><input type="hidden" name="form-nonce" value="4b7729d1b665f20936568384d0238fb0">
    <!-- END: google recaptch, not implemented -->
    <input type="hidden" name="app" value="AJAXMGCXSg6fbLgteaWDLnTwL2EC3Kj7y4kDWqGU4Vzcq8UQKAzfZvJ4xkjTv8GjXKvdEs6BHGjU" />
    <!--  <input type="hidden" name="app" value="ASHFORDQadbLqQPE9Tpe4eKK8MHuB3K2EMKFE2mbhEU9yBVUBgwh7nV8J4BR5STXhQfNdYW2qZrWvt" /> -->
    <input type="hidden" name="template" value="contactDefault" />
    <input type="hidden" name="webformId" value="contact1" />
  </form>
  <h2 class="js-error-form contact" style="display: none;">Error: Apologies, something went wrong. Please try again.</h2>
  <h2 class="js-progress-form contact" style="display: none;">Processing...</h2>
  <h2 class="js-success-form contact" style="display: none;">Message Received!</h2>
</div>

<!--
{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">{{ i18n "message" }}</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />

</form>
-->


<!--
{{ $.Scratch.Add "labelClasses" "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $.Scratch.Add "inputClasses" "w-100 f5 pv3 ph3 bg-light-gray bn" }}

<form class="black-80 sans-serif" accept-charset="UTF-8" action="{{ .Get "action" }}" method="POST" role="form">

    <label class="{{ $.Scratch.Get "labelClasses" }}"  for="name">{{ i18n "yourName" }}</label>
    <input type="text" id="name" name="name" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="name"/>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="email">{{ i18n "emailAddress" }}</label>
    <input type="email" id="email" name="email" class="{{ $.Scratch.Get "inputClasses" }}"  required placeholder=" "  aria-labelledby="email"/>
    <div class="requirements f6 gray glow i ph3 overflow-hidden">
      {{ i18n "emailRequiredNote" }}
    </div>

    <label class="{{ $.Scratch.Get "labelClasses" }}" for="message">{{ i18n "message" }}</label>
    <textarea id="message" name="message" class="{{ $.Scratch.Get "inputClasses" }} h4" aria-labelledby="message"></textarea>

    <input class="db w-100 mv2 white pa3 bn hover-shadow hover-bg-blck bg-animate bg-black" type="submit" value="{{ i18n "send" }}" />

</form>
-->

