{{/* Enable image to be loaded from local page dir or media library at `static/img/`. */}}

{{ $asset := (.Page.Resources.ByType "image").GetMatch (.Get "src") }}
{{ $image_src := (.Get "src") }}
{{ if $asset }}
  {{ $asset2 := $asset.Fit "2000x2000" }}
  {{ $image_src = $asset2.RelPermalink }}
{{ else if .Get "library" }}
  {{ $image_src = printf "img/%s" $image_src | relURL }}
{{ end }}

{{/* image sizes. */}}
{{ $tinyw := default "500x" }}
{{ $smallw := default "800x" }}
{{ $mediumw := default "1200x" }}
{{ $largew := default "1500x" }}

{{/* resize the src/asset image to the given sizes */}}
{{ if gt $asset.Width 500 }}
  {{ .Scratch.Set "tiny" ($asset.Resize $tinyw) }}
{{ end }}
{{ if gt $asset.Width 800 }}
  {{ .Scratch.Set "small" ($asset.Resize $smallw) }}
{{ end }}
{{ if gt $asset.Width 1200 }}
 {{ .Scratch.Set "medium" ($asset.Resize $mediumw) }}
{{ end }}
{{ if gt $asset.Width 1500 }}
  {{ .Scratch.Set "large" ($asset.Resize $largew) }}
    <h1>{{.Scratch.Get "large"}}</h1>
{{ end }}

{{/* media query sizes  */}}
{{ range $elem := site.Params.imagesizes }}
  {{ if gt $asset.Width $elem.width }}
    {{ $elem.name }}
    {{ $elem.width }}
    {{ $.Scratch.Set "img" ($asset.Resize $elem.width) }}
    <h1>{{$.Scratch.Get "img"}}</h1>
    <source data-srcset="{{($.Scratch.Get "img").RelPermalink}}" media="--{{$elem.name}}">
  {{ end }}
{{ end }}

{{/* add the processed images to the scratch */}}
{{ $tiny := .Scratch.Get "tiny" }}
{{ $small := .Scratch.Get "small" }}
{{ $medium := .Scratch.Get "medium" }}
{{ $large := .Scratch.Get "large" }}

{{/* Disallow user from opening image in the lightbox? */}}
{{ $lightbox := eq (.Get "lightbox" | default "true") "true" }}

{{/* Get lightbox group for showing multiple images in a lightbox. */}}
{{ $group := .Get "lightbox-group" | default "" }}

{{/* Get caption. Support legacy `title` option. */}}
{{ $caption := .Get "title" | default (.Get "caption") | default "" }}

<figure{{ with .Get "class" }} class="{{.}}"{{ end }} {{ with $caption }}id="figure-{{ anchorize . }}"{{ end }}>

{{ if $lightbox }}
  <a data-fancybox="{{$group}}" href="{{$image_src}}" {{ with $caption }}data-caption="{{ .|markdownify|emojify }}"{{ end }}>
{{ else if .Get "link"}}
  <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{.}}"{{ end }}{{ with .Get "rel" }} rel="{{.}}"{{ end }}>
{{ end -}}

{{/* Get 'Image Loading' image. */}}
{{ $has_loading := fileExists "assets/images/image-loading-800x382.gif" | or (fileExists "assets/images/image-loading-800x382.gif") }}
{{ $loading := "" }}
{{ if $has_loading }}
  {{ $loading = (partial "functions/get_image_loading_rectangle" (dict "constraint" "max_height" "size" 382)) }}
{{ end }}

{{/* Lazy Image | now ignoring academic: 'load only when we know image dimensions in order to preserve anchor linking.' */}}
{{ if $asset }}
  <picture>
    <!-- when media query matches -> the corresponding <source> image is used -->
    <!-- if no media query matches -> the data-src from <img> is used -->
    <!-- the <img> 'src' image loads by default prior to lazyload activating -->
    <source data-srcset="{{$tiny.RelPermalink}}" media="--sm">
    <source data-srcset="{{$small.RelPermalink}}" media="--md">
    <img src="{{$loading.RelPermalink}}" data-src="{{$large.RelPermalink}}" class="lazyload" alt="{{ with .Get "alt" }}{{.}}{{end}}">
    <!-- <img data-src="{{$large}}" class="lazyload" alt="{{ with .Get "alt" }}{{.}}{{end}}" width="{{ (.Get "width") | default $asset.Width }}" height="{{ (.Get "height") | default $asset.Height }}" typeof="foaf:Image"> -->
  </picture>
  <!-- START: Comment/disable Multiline -->
  {{/*
  {{ else if and (.Get "width") (.Get "height") }}
    <img data-src="{{$image_src}}" class="lazyload" alt="{{ with .Get "alt" }}{{.}}{{end}}" {{ with .Get "width" }}width="{{.}}"{{end}} {{ with .Get "height" }}height="{{.}}"{{end}}>
  {{ else }}
    <img src="{{$image_src}}" alt="{{ with .Get "alt" }}{{.}}{{end}}" {{ with .Get "width" }}width="{{.}}"{{end}} {{ with .Get "height" }}height="{{.}}"{{end}}>
  */}}
  <!-- END: Comment/disable Multiline -->
{{ end }}

{{- if or $lightbox (.Get "link") }}</a>{{ end }}

{{ if $caption }}
  {{/* Localize the figure numbering (if enabled). */}}
  {{ $figure := split (i18n "figure" | default "Figure %d:") "%d" }}
  <figcaption{{ if eq (.Get "numbered") "true" }} data-pre="{{ index $figure 0 }}" data-post="{{ index $figure 1 }}" class="numbered"{{ end }}>
    {{ $caption | markdownify | emojify }}
  </figcaption>
{{ end }}

</figure>
